.jumbo{
    text-align: center;
    margin-top: 50px;
}


/* Sign up page */
.wrapper{
   width: 241px;
   padding: -1rem 3rem;
   margin: 80px auto;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
   background-color: rgb(44, 72, 102);

   

}

.helptext{
    display: none;
}

.form.signup-page{
    font-size: small;
    padding-top: 2rem;
    padding-top: 2rem;
}

label{
    color: #82caff;
}

p a{
    text-decoration: none;
    display: inline-flex;
}

/* Log in page */
.remember-forgot a{
    text-decoration: none;
}


/* Search bar */
.bg-dark{
    background-color:rgb(44, 72, 102) !important ;
}

/* homepage */
body{
    background-color: rgb(44, 72, 102) ;
}

/* detail */
.location-detail{
    padding-top: 6rem;
    margin: auto;
}

