.jumbo{
    text-align: center;
    margin-top: 50px;
}


/* Sign up page */
.wrapper{
   width: 241px;
   padding: -1rem 3rem;
   margin: 80px auto;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
   background-color: rgb(44, 72, 102);

   

}

.helptext{
    display: none;
}

.form.signup-page{
    font-size: small;
    padding-top: 2rem;
    padding-top: 2rem;
}

label{
    color: #82caff;
}

p a{
    text-decoration: none;
    display: inline-flex;
}

/* Log in page */
.remember-forgot a{
    text-decoration: none;
}


/* Search bar */
.bg-dark{
    background-color:rgb(44, 72, 102) !important ;
}

/* homepage */
body{
    background-color: rgb(44, 72, 102) ;
}

/* detail */
.location-detail{
    padding: 5rem;
    margin: auto;
    justify-content: center;
    display: flex;
    position:relative; top:7.5rem;
}

.time-zone{
justify-content: right;
display: flex;
margin: auto;
padding-right: 2rem;
position: relative; top: -0.2rem;
}

.latitude{
justify-content: right;
display: flex;
margin: auto;
padding-right: 2rem;
}

.longitude{
    justify-content: right;
    display: flex;
    margin: auto;
    padding-right: 2rem;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-style: card spacer y 1rem;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.container h4 {
    font-size: smaller
}

.foot{
    width: -2px;
}


/* compare page */
.compare-title{
    padding:4rem;
    justify-content: center;
    display: flex;
}

.location1{
    padding: 2rem;
}

.compare-title {
    /* https://www.w3schools.com/howto/howto_css_glowing_text.asp */
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0b72e0, 0 0 40px #0b72e0, 0 0 50px #0b72e0, 0 0 60px #0b72e0, 0 0 70px #0b72e0;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #1b94ea, 0 0 40px #1b94ea, 0 0 50px #1b94ea, 0 0 60px #1b94ea, 0 0 70px #1b94ea, 0 0 80px #1b94ea;
    }
  }

.row{
    width: 50%;
    padding: 2rem;
    justify-content: center;
    margin: auto;

}

/* dark mode toggle */
body {
    
    background-color: white;
    color: black;
    
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

.toggleBtn{
    width: 53px;
    display: block;
    margin-top: 15px;
    justify-content: right;
    border-radius: 13px;

}
  
  

