{% load static %}

<link rel="stylesheet" href="{% static 'weather/footer.css'%}">

<footer>
  <div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Website is powered by: </p>
      <ul>
        <li><a href="https://getbootstrap.com/" target="_blank"><i class='fa-brands fa-bootstrap'>Bootstrap</i></a></li>
        <li><a href="https://cdnjs.com/libraries/bootswatch" target="_blank"><i class='fa-brands fa'>Bootswatch Library</i></a></li>
      </ul>
      
      <div class='ref'>
        <ul>
          <li><a href="#"></a>News</li>
          <li><a href="#"></a>About Us</li>
          <li><a href="#"></a>Contact Us</li>
          <li><a href="#"></a>Learn More</li>
        </ul>
      </div>
      
    </div>
    <div class="card-footer text-body-secondary">
  
    </div>
   
    
    
  
  </div>

</footer>
