{% load static %}
<link rel="stylesheet" href="{% static 'weather/navbar.css'%}">
<nav>
    <div class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <ul>
                <li><a data-replace='Home' class='home' href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                <li><a data-replace='logout' class='logout' href="{% url 'logout' %}">Logout</a></li>
        
                
                {% else %}
                <li><a data-replace='Login' class='login' href="{% url 'login' %}">Login</a></li>
                <li><a data-replace='Sign Up' class='signup' href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
    
        </div>
    </div>

</nav>

<br /><br /> <br>

