{% load static %}
<link rel="stylesheet" href="{% static 'weather/navbar.css'%}">
<link rel="stylesheet" href="{% static 'weather/styles.css'%}">
<script defer src="{% static 'weather/main.js' %} "></script>

<nav>
    <div class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <ul>
                <li><a data-replace='Home' class='home' href="{% url 'home' %}">Home</a></li>
                
                {% if request.user.is_authenticated %}
                <li><a data-replace='Logout' class='logout' href="{% url 'logout' %}">Logout</a></li>
                <li><a data-replace='Compare' class='compare' href="{% url 'compare' %}">Compare</a></li>
                
                {% else %}
                <li><a data-replace='Login' class='login' href="{% url 'login' %}">Login</a></li>
                <li><a data-replace='Sign Up' class='signup' href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
            <li><button onclick="toggleDark()" id='toggle-dark' class='toggleBtn'>🌑</button></li>
            
            
    
        </div>
    </div>

</nav>

<br /><br /> <br>

