 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="{% static 'weather/styles.css' %}">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="{% static 'weather/main.js'%}"></script>
    <link rel="stylesheet" href="{% static 'weather/navbar.css' %}">
<body>
    {% include 'weather/_navbar.html' %}

    {% block content %}
    {% endblock content %}
    
</body>
</html>