{% extends 'weather/base.html' %}

{% block title %}Location details{% endblock title %}

{% block content %}
<h1 class='location-detail'>{{weather.location}}</h1>
<div class='row'>
    <div class='col d-flex justify-content-center'>
        <div class='card text-white bg-light mb-6'>
        <div class='card-body'>
            <h4><span class='badge badge-primary'>Time Zone: </span>{{weather.time_zone}}</h4>
            <h4><span class='badge badge-primary'>Temperature: </span>{{weather.temperature}}</h4>
            <h4><span class='badge badge-primary'>High/Low: </span>{{weather.tempmax}}/{{weather.tempmin}}</h4>
            <h4><span class='badge badge-primary'>Time:</span>{{weather.date}}</h4>
            <h4><span class='badge badge-primary'>Description: </span>{{weather.description}} {{weather.icon}}</h4>
            <h4><span class='badge badge-primary'>Longitiude: </span>{{weather.longitude}}</h4>
            <h4><span class='badge badge-primary'>Latitude</span>{{weather.latitude}}</h4>
            <h4><span class='badge badge-primary'>UV Index</span>{{weather.uvindex}}</h4>
            <h4><span class='badge badge-primary'>Sunrise</span>{{weather.sunrise}} AM</h4>
            <h4><span class='badge badge-primary'>Sunset</span>{{weather.sunset}} PM</h4>


        </div>
        </div>

    </div>

</div>
{% endblock content %}