{% extends 'weather/base.html' %}

{% block title %}Weather Wizard{% endblock title%}


{% block content %}
<div class='row'>
    <div class='col d-flex justify-content-center'>
        <div class='card text-white bg-light mb-6'>
        <div class='card-body'>
            <h4><span class='badge badge-primary'>Location: </span>{{weather.location}}</h4>
            <h4><span class='badge badge-primary'>Time Zone: </span>{{weather.time_zone}}</h4>
            <h4><span class='badge badge-primary'>Temperature: </span>{{weather.temperature}}</h4>
            <h4><span class='badge badge-primary'>Time:</span>{{weather.date}}</h4>
            <h4><span class='badge badge-primary'>Description: </span>{{weather.description}}</h4>
            <h4><span class='badge badge-primary'>Longitiude: </span>{{weather.longitude}}</h4>
            <h4><span class='badge badge-primary'>Latitude</span>{{weather.latitude}}</h4>

        </div>
        </div>

    </div>

</div>


{% endblock content %}
